body{
    background-color: greenyellow;
    text-align: center;
    font-size: 30px;
}
button{
    font-size: 25px;
    background-color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}